#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profilePic{
  border-radius: 200px;
}

.winePic{
  max-height: 225px ;
  max-width:
}

.resultBox{
  font-weight: bold;
  margin-top: 40px;
  text-align: justify;
}
.inputBox{
  width: 200px;
}